{% extends 'base.html' %}
{% block content %}
<h1>SELECT CITY</h1>
<div class="row">
    {% for city in key1 %}
    <div class="col">
        <div class="card" style="width: 18rem;">
  <img src='{{city.image_url}}' class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{city.city_name}}</h5>
    <p class="card-text">{{city.state}}</p>
    <a href="http://127.0.0.1:8000/Kolkatahotels/" class="btn btn-primary">BOOK NOW</a>
  </div>
</div>
    </div>
    {% endfor %}
</div>
{% endblock %}
